

@media  screen and (max-width: 990px) {
   .logout, li {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 10px;
 }

}

body{
    background: linear-gradient(to top, rgba(24, 24, 25, 0.47), rgba(69, 71, 71, 0.65)), url('./../img/background.jpg') no-repeat top center ;
    background-size: cover;

}


h3,h2{
    color: white;
}
li {
   border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link {
   color: #ffffff;
   padding: 10px 15px;
   margin: 0 5px;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
   background-color: #495057;
   color: #ffffff;
}

.date-card {
   width: fit-content;
   border-radius: 8px;
}

.date-number {
   font-size: 1.5rem;
   font-weight: bold;
}

.date-label {
   font-size: 0.75rem;
}



        /* Table Header Style */
        .table-custom th {
         background-color: #343a40;
         color: #ffffff;
         font-weight: bold;
         padding: 12px 15px;
         text-align: left;
     }

     /* Table Row Style */
     .table-custom td {
         padding: 12px 15px;
         background-color: #f4f6f7;
         color: #212529;
     }

     /* Hover effect on rows */
     .table-custom tbody tr:hover {
         background-color: #e9ecef;
     }

     /* Mobile card layout */
     .card-mobile {
         display: none;
     }

     @media (max-width: 767px) {
         /* Hide the table on mobile */
         .table-custom {
             display: none;
         }

         /* Show cards on mobile */
         .card-mobile {
             display: block;
         }
     }

     @media (min-width: 768px) {
         /* Show table on larger screens */
         .table-custom {
             display: table;
         }

         /* Hide cards on larger screens */
         .card-mobile {
             display: none;
         }
     }

.text-light{
    text-decoration: none !important;

}